.css_priv_access_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_priv_access_grid_line {vertical-align: top;text-align: left;}
.css_priv_insert_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_priv_insert_grid_line {vertical-align: top;text-align: left;}
.css_priv_delete_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_priv_delete_grid_line {vertical-align: top;text-align: left;}
.css_priv_update_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_priv_update_grid_line {vertical-align: top;text-align: left;}
.css_priv_export_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_priv_export_grid_line {vertical-align: top;text-align: left;}
.css_priv_print_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_priv_print_grid_line {vertical-align: top;text-align: left;}
