.css_app_name_det_label {text-align: right;vertical-align: middle;}
.css_app_name_det_line {height:0px;text-align: right;}
.css_priv_access_det_label {text-align: right;vertical-align: middle;}
.css_priv_access_det_line {height:0px;text-align: right;}
.css_priv_insert_det_label {text-align: right;vertical-align: middle;}
.css_priv_insert_det_line {height:0px;text-align: right;}
.css_priv_delete_det_label {text-align: right;vertical-align: middle;}
.css_priv_delete_det_line {height:0px;text-align: right;}
.css_priv_update_det_label {text-align: right;vertical-align: middle;}
.css_priv_update_det_line {height:0px;text-align: right;}
.css_priv_export_det_label {text-align: right;vertical-align: middle;}
.css_priv_export_det_line {height:0px;text-align: right;}
.css_priv_print_det_label {text-align: right;vertical-align: middle;}
.css_priv_print_det_line {height:0px;text-align: right;}
