.css_id_transacao_det_label {text-align: right;vertical-align: middle;}
.css_id_transacao_det_line {height:0px;text-align: right;}
.css_tipo_cliente_det_label {text-align: right;vertical-align: middle;}
.css_tipo_cliente_det_line {height:0px;text-align: right;}
.css_login_usuario_det_label {text-align: right;vertical-align: middle;}
.css_login_usuario_det_line {height:0px;text-align: right;}
.css_cpf_cnpj_det_label {text-align: right;vertical-align: middle;}
.css_cpf_cnpj_det_line {height:0px;text-align: right;}
.css_email_det_label {text-align: right;vertical-align: middle;}
.css_email_det_line {height:0px;text-align: right;}
.css_senha_det_label {text-align: right;vertical-align: middle;}
.css_senha_det_line {height:0px;text-align: right;}
.css_valor_det_label {text-align: right;vertical-align: middle;}
.css_valor_det_line {height:0px;text-align: right;}
.css_data_cadastro_det_label {text-align: right;vertical-align: middle;}
.css_data_cadastro_det_line {height:0px;text-align: right;}
.css_status_det_label {text-align: right;vertical-align: middle;}
.css_status_det_line {height:0px;text-align: right;}
.css_enviar_email_det_label {text-align: right;vertical-align: middle;}
.css_enviar_email_det_line {height:0px;text-align: right;}
.css_payload_det_label {text-align: right;vertical-align: middle;}
.css_payload_det_line {height:0px;text-align: right;}
